body {
    margin: 0;
}
#outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5vh;
    gap: 5vh;
    padding-bottom: 5vh;
    background-color: royalblue;
    height: 90vh;
}

#innerContainer {
    flex-grow: 1;
    width: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#changeBoxes {
    flex-grow: 0;
    padding: 20px 40px;
    font-size: 36px;

}

.box {
    box-sizing: border-box;
    flex-basis: auto;
    aspect-ratio: 1 / 1;
    background-color: aquamarine;
    border-style: solid;
    border-color: royalblue;
}